<?xml version="1.0" encoding="UTF-8"?>
<suite name="Smoke-UI-Tests">
    <test name="TestGroup1">
        <classes>
            <class name="GameUITests.HomeScreenTest"/>
            <class name="GameUITests.InventoryScreenTest"/>
<!--            <class name=""/>-->
        </classes>
    </test>
</suite>
